<div ng-app="todo">
  <div class="container-fluid">
    <ui-view></ui-view>
  </div>

  <script type="text/ng-template" id="/index.html">
    <div class="row-fluid">
      <div class="col-lg-6">
        <h2>Create New Task</h2>
        <form ng-submit="submit()">
          <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" type='text' ng-model="newTodo.title" />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" ng-model="newTodo.description"></textarea>
          </div>
          <button class='btn btn-default' type='submit' value='submit'> Submit</button>
        </form>
      </div>
      <br>
      <div class="col-lg-6">
        <div class="tasks">
          <ul class="list-group">
            <li class='list-group-item' ng-repeat="task in tasks">
              <task my-task='task'></task>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="/task.html">
    <div class="form-group">
      <a ui-sref="show({id: myTask.id})"><h4>TASK: {{myTask.title}}</h4></a>
      <p>{{myTask.description}}</p>
      <div class="span1">
        <label for="complete">Complete</label>
        <input type="checkbox" ng-checked="myTask.complete" ng-model="myTask.complete" ng-change="toggleCheck(myTask)" />
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="/show.html">
    <a ui-sref="home">Go back</a>
    <h2>Task #{{currentTask.id}}</h2>
    <task my-task='currentTask'></task>
  </script>
</div>